@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundSoft: #cacaca;
  --foregroudSoft: #3b3b3b;
  --btn: #00a2ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-backgroundSoft: var(--backgroundSoft);
  --color-foregroudSoft: var(--foregroudSoft);
  --color-btn: var(--btn);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --backgroundSoft: #2e2e2e;
    --foregroudSoft: #d4d4d4;
    --btn: #00a2ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
